* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cormorant Garamond", serif;
}

.navbar {
  margin: 32px;
}

h1 {
  display: inline-block;
  font-weight: 300;
  margin-right: 32px;
}

.links {
  display: inline-block;
}

.links li {
  display: inline-block;
}

.links a {
  text-decoration: none;
  font-size: 20px;
  margin: 0 8px;
}
a.active {
  border-bottom: 0.5px solid black;
}

/* Body images */
.gallery {
  padding: 16px;
}
.card {
  display: inline-block;
  box-sizing: border-box;
  width: 49.75%;
  padding: 16px;
}
.card img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}
.card h2 {
  font-weight: 300;
  display: inline-block;
  margin: 8px 0 16px 0;
}
